html,body{height:100%}
body{font-family: 'Lemonada', cursive;}
}
.title {
  text-align: center; 
  color: rgb(214, 172, 117); 
  text-shadow: 2px 3px rgb(241, 225, 209);
  transform: rotate(-5deg);
  margin-bottom: 80;
}
.main-title {
  text-align: center; 
  color: rgb(177, 39, 39); 
  text-shadow: 2px 3px rgb(216, 178, 163);
  transform: rotate(-5deg);
  margin-top: 80;

p {font-size: 11px;}
.card {padding: 20; background-color: rgb(209, 212, 214) ; text-align: center;}
.main-img {width: 100%; padding-top: 40; padding-bottom: 60;}



